/build
/cache
/old
/examples/*/build
/examples/*/*/build
/examples/*/sizes.c
/examples/*/*/deployment.c
/Debug
*.o
*.obj
*.d
*.lo
*.bin
*.elf
*.uboot
*.map
*.pyc
build/
.sconsign*
*.log
*.directory
*.gdb_history
