<?xml version="1.0" encoding="utf-8"?>
<chpok-configuration xmlns:xi="http://www.w3.org/2001/XInclude">
    <Partitions>
        <xi:include href="P1/config.xml" parse="xml"/>
        <xi:include href="P2/config.xml" parse="xml"/>
    </Partitions>
    <Schedule>
        <!--
            Slot element is close to A653_PartitionTimeWindowType defined
            in the standard, but not quite it.

            As extension, we allow to specify time in other units,
            such as milliseconds (for convenience).
        -->
        <Slot Type="Partition" PartitionNameRef="P1" Duration="15ms" PeriodicProcessingStart="true" />
        <Slot Type="Partition" PartitionNameRef="P2" Duration="15ms" PeriodicProcessingStart="true" />
    </Schedule>

    <!--
        This looks like Connection_Table 
        found in schema in older ARINC-653 standard,
        but it's somewhat different (because that old thing
        is very inconsistent).

        Recent standard doesn't define this at all.
    -->

    <Connection_Table>
        <Channel>
            <Source>
                <Standard_Partition PartitionName="P2" PortName="QP2" />
            </Source>
            <Destination>
                <Standard_Partition PartitionName="P1" PortName="QP1" />
            </Destination>
        </Channel>
    </Connection_Table>
</chpok-configuration>
